<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
    ->exclude('src/Tangram/Infrastructure/Symfony/Borrame')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'indentation_type' => true,
        'array_syntax' => ['syntax' => 'short']
    ])
  ->setIndent("\t")
    ->setLineEnding("\n")
    ->setFinder($finder);
